<p id="notice"><%= notice %></p>

<h1>User Accounts</h1>

<table>
  <thead>
    <tr>
      <th>User email</th>
      <th>User password</th>
      <th>User first name</th>
      <th>User last name</th>
      <th>User visit</th>
      <th>User transaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_accounts.each do |user_account| %>
      <tr>
        <td><%= user_account.user_email %></td>
        <td><%= user_account.user_password %></td>
        <td><%= user_account.user_first_name %></td>
        <td><%= user_account.user_last_name %></td>
        <td><%= user_account.user_visit %></td>
        <td><%= user_account.user_transaction %></td>
        <td><%= link_to 'Show', user_account %></td>
        <td><%= link_to 'Edit', edit_user_account_path(user_account) %></td>
        <td><%= link_to 'Destroy', user_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Account', new_user_account_path %>
