.keep-shopping.pv1.mt4.has-text-right
  = link_to 'Keep Shopping', home_path, class: 'button is-warning'
%hr/
%section.section
  .card(style = "margin: 20px 0px;")
    .card-header	
      - @line_items = @order.order_line_items
      .card-body
        - @line_items.each do |line_item|
          .row              
            .card.text-center.col-lg-4.col-md-6(style = "margin: 5px 0px;")          
              = link_to image_tag(line_item.inventory_item.image_url(:inventory_item)), line_item.inventory_item, :class => "img card-img-top"
              .cart-body
                %h5.card-title 
                  =line_item.inventory_item.name
                %h5
                  Price:
                  =number_to_currency line_item.inventory_item.price
            .float-right.mx-auto    
              Quantity:
              = form_for line_item do |form|
                = form.text_field :order_item_qty
                = form.submit
              //= text_field_tag "search", nil, :placeholder => line_item.order_item_qty, class: "form-control"                     
            .float-right.mx-auto                  
              Price:
              =number_to_currency line_item.total_price
            = button_to 'Delete line item', line_item, method: :delete, data: { confirm: "Are you sure? " }, class: "btn button btn-danger"  
        .row.float-right.mx-auto.h5             
          Total price:
          = number_to_currency(@order.total_price)
  .container        
    .row
      .col-4
        = button_to 'Empty Cart', @order, method: :delete, data: { confirm: "Are you sure? " }, class: "btn button btn-primary"
      .col-4
    
      .col-4
        = render 'form', order: @order
        //= button_to 'Check out', @order.update(order_params: @order), class: "btn button btn-success "  