<p id="notice"><%= notice %></p>

<h1>Inventory Item Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventory_item_categories.each do |inventory_item_category| %>
      <tr>
        <td><%= inventory_item_category.category_name %></td>
        <td><%= link_to 'Show', inventory_item_category %></td>
        <td><%= link_to 'Edit', edit_inventory_item_category_path(inventory_item_category) %></td>
        <td><%= link_to 'Destroy', inventory_item_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory Item Category', new_inventory_item_category_path %>
