<p id="notice"><%= notice %></p>

<h1>Order Line Items</h1>

<table>
  <thead>
    <tr>
      <th>Inventory item</th>
      <th>Order</th>
      <th>Order item qty</th>
      <th>Total price</th>
      <th>Order line item price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_line_items.each do |order_line_item| %>
      <tr>
        <td><%= order_line_item.inventory_item %></td>
        <td><%= order_line_item.order %></td>
        <td><%= order_line_item.order_item_qty %></td>
        <td><%= order_line_item.total_price %></td>
        <td><%= order_line_item.order_line_item_price %></td>
        <td><%= link_to 'Show', order_line_item %></td>
        <td><%= link_to 'Edit', edit_order_line_item_path(order_line_item) %></td>
        <td><%= link_to 'Destroy', order_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Line Item', new_order_line_item_path %>
