<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory item:</strong>
  <%= @order_line_item.inventory_item %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_line_item.order %>
</p>

<p>
  <strong>Order item qty:</strong>
  <%= @order_line_item.order_item_qty %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order_line_item.total_price %>
</p>

<p>
  <strong>Order line item price:</strong>
  <%= @order_line_item.order_line_item_price %>
</p>

<%= link_to 'Edit', edit_order_line_item_path(@order_line_item) %> |
<%= link_to 'Back', order_line_items_path %>
