!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %title ECommerceApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .container 
        %nav.navbar.navbar-expand-lg.navbar-light(style = "background-color: white  ;")
          %a.navbar-brand(href="#") Phone
          %button.navbar-toggler(aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarText" data-toggle="collapse" type="button")
            %span.navbar-toggler-icon
          #navbarText.collapse.navbar-collapse
            %ul.navbar-nav.mr-auto
              %li.nav-item.active
                %a.nav-link(href="#")
                  
                  %span.sr-only (current)
            %span.navbar-text(style = "padding-right: 10px;")
              Login          
            %span.navbar-text
              Sign up
      .container
        %nav.navbar.navbar-expand-lg.navbar-light.d-flex.bd-highlight(style = "background-color: white; padding: 6px;")
          %a.navbar-brand.p-2.flex-fill.bd-highlight(href="#") Navbar
          %form.form-inline.my-2.my-lg-0.p-2.flex-fill.bd-highlight
            %input.form-control.mr-sm-2(aria-label="Search" placeholder="Search" type="search")/
            %button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
          %div.p-2.flex-fill.bd-highlight
            %button.btn.btn-outline-success.my-2.my-sm-0(type="submit") 
              %i.fa.fa-shopping-cart(aria-hidden="true")
            %button.btn.btn-outline-success.my-2.my-sm-0(type="submit") 0

      .container
        %nav.navbar.navbar-expand-lg.navbar-light.d-flex.bd-highlight(style = "background-color: white;")
          %a.navbar-brand(href="#") Home
          %a.navbar-brand(href="#") Category
          %a.navbar-brand(href="#") Article
          %a.navbar-brand(href="#") A
          %a.navbar-brand(href="#") B
    .container
      = yield

    %footer
      .container.d-flex.bd-highlight
        .p-2.flex-fill.bd-highlight
          .single_footer.author_information
            %h4 Store Information
            %dl
              %dd
                %i.fa.fa-home
                16 Purvis Street #2-00
              %dd
                %i.fa.fa-phone
                (+1)111-111-111
              %dd 
                %a(href="#")
                  %i.fa.fa-envelope-square
                  www.yoose.com
        .p-2.flex-fill.bd-highlight
          .single_footer
            %h4 Information
            %dl
              %dd
                %a(href="#")
                  %i.fa
                  Our Blog
              %dd
                %a(href="#")
                  %i.fa
                  About Our Shop
              %dd
                %a(href="#")
                  %i.fa
                  Secure Shopping
              %dd
                %a(href="#")
                  %i.fa
                  Delivery infomation
              %dd
                %a(href="#")
                  %i.fa
                  Store Locations
        .p-2.flex-fill.bd-highlight
          .single_footer
            %h4 My account
            %dl
              %dd
                %a(href="#")
                  %i.fa
                  My orders
              %dd
                %a(href="#")
                  %i.fa
                  About Us
              %dd
                %a(href="#")
                  %i.fa
                  Contact
              %dd
                %a(href="#")
                  %i.fa
                  Shopping cart
              %dd
                %a(href="#")
                  %i.fa
                  Checkout
        .p-2.flex-fill.bd-highlight
          .single_footer
            %h4 instagram
            .instagram_img
              #instafeed